.elementor-kit-1082{--e-global-color-primary:#CA5310;--e-global-color-secondary:#BB4D00;--e-global-color-text:#2F4858;--e-global-color-accent:#8F250C;--e-global-color-650ab969:#6EC1E4;--e-global-color-48d77687:#54595F;--e-global-color-13936bfa:#7A7A7A;--e-global-color-eb3a0fb:#61CE70;--e-global-color-68380bc4:#4054B2;--e-global-color-37618c10:#23A455;--e-global-color-2dbdbafb:#000;--e-global-color-7f2e68da:#FFF;--e-global-color-6080e5c3:#020101;--e-global-color-30686fca:#000000;--e-global-color-202c8c4:#13131369;--e-global-color-50079cd:#F3F3F387;--e-global-color-9f19524:#691E06;--e-global-typography-primary-font-family:"Nunito Sans";--e-global-typography-primary-font-weight:bold;--e-global-typography-secondary-font-family:"Nunito Sans";--e-global-typography-secondary-font-weight:bold;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;color:#4F5A52;}.elementor-kit-1082 a{color:var( --e-global-color-secondary );}.elementor-kit-1082 a:hover{color:#7B9897;}.elementor-kit-1082 h1{color:var( --e-global-color-primary );font-size:70px;font-weight:bold;line-height:1.2em;}.elementor-kit-1082 h2{color:var( --e-global-color-primary );font-size:30px;line-height:1.2em;}.elementor-kit-1082 h3{color:var( --e-global-color-primary );}.elementor-kit-1082 h4{color:var( --e-global-color-primary );}.elementor-kit-1082 button,.elementor-kit-1082 input[type="button"],.elementor-kit-1082 input[type="submit"],.elementor-kit-1082 .elementor-button{font-size:16px;font-weight:bold;text-transform:uppercase;color:var( --e-global-color-7f2e68da );background-color:var( --e-global-color-accent );}.elementor-kit-1082 button:hover,.elementor-kit-1082 button:focus,.elementor-kit-1082 input[type="button"]:hover,.elementor-kit-1082 input[type="button"]:focus,.elementor-kit-1082 input[type="submit"]:hover,.elementor-kit-1082 input[type="submit"]:focus,.elementor-kit-1082 .elementor-button:hover,.elementor-kit-1082 .elementor-button:focus{color:#FFFFFF;background-color:var( --e-global-color-9f19524 );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1200px;}.e-container{--container-max-width:1200px;}.elementor-widget:not(:last-child){margin-bottom:10px;}.elementor-element{--widgets-spacing:10px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-1082 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-kit-1082 h1{font-size:55px;}.elementor-kit-1082 h2{font-size:28px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-container{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-1082 h1{font-size:40px;}.elementor-kit-1082 h2{font-size:26px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-container{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2020/02/nunito-sans-v5-latin-regular.eot');
	src: url('../../2020/02/nunito-sans-v5-latin-regulard41d.eot?#iefix') format('embedded-opentype'),
		url('../../2020/02/nunito-sans-v5-latin-regular.woff2') format('woff2'),
		url('../../2020/02/nunito-sans-v5-latin-regular.woff') format('woff'),
		url('../../2020/02/nunito-sans-v5-latin-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2020/02/nunito-sans-v5-latin-300.eot');
	src: url('../../2020/02/nunito-sans-v5-latin-300d41d.eot?#iefix') format('embedded-opentype'),
		url('../../2020/02/nunito-sans-v5-latin-300.woff2') format('woff2'),
		url('../../2020/02/nunito-sans-v5-latin-300.woff') format('woff'),
		url('../../2020/02/nunito-sans-v5-latin-300.ttf') format('truetype');
}
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2020/02/nunito-sans-v5-latin-700.eot');
	src: url('../../2020/02/nunito-sans-v5-latin-700d41d.eot?#iefix') format('embedded-opentype'),
		url('../../2020/02/nunito-sans-v5-latin-700.woff2') format('woff2'),
		url('../../2020/02/nunito-sans-v5-latin-700.woff') format('woff'),
		url('../../2020/02/nunito-sans-v5-latin-700.ttf') format('truetype');
}
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../../2020/02/nunito-sans-v5-latin-800.eot');
	src: url('../../2020/02/nunito-sans-v5-latin-800d41d.eot?#iefix') format('embedded-opentype'),
		url('../../2020/02/nunito-sans-v5-latin-800.woff2') format('woff2'),
		url('../../2020/02/nunito-sans-v5-latin-800.woff') format('woff'),
		url('../../2020/02/nunito-sans-v5-latin-800.ttf') format('truetype');
}
@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2020/02/nunito-sans-v5-latin-900.eot');
	src: url('../../2020/02/nunito-sans-v5-latin-900d41d.eot?#iefix') format('embedded-opentype'),
		url('../../2020/02/nunito-sans-v5-latin-900.woff2') format('woff2'),
		url('../../2020/02/nunito-sans-v5-latin-900.woff') format('woff'),
		url('../../2020/02/nunito-sans-v5-latin-900.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2020/02/roboto-v20-latin-regular.eot');
	src: url('../../2020/02/roboto-v20-latin-regulard41d.eot?#iefix') format('embedded-opentype'),
		url('../../2020/02/roboto-v20-latin-regular.woff2') format('woff2'),
		url('../../2020/02/roboto-v20-latin-regular.woff') format('woff'),
		url('../../2020/02/roboto-v20-latin-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../../2020/02/roboto-v20-latin-700.eot');
	src: url('../../2020/02/roboto-v20-latin-700d41d.eot?#iefix') format('embedded-opentype'),
		url('../../2020/02/roboto-v20-latin-700.woff2') format('woff2'),
		url('../../2020/02/roboto-v20-latin-700.woff') format('woff'),
		url('../../2020/02/roboto-v20-latin-700.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2020/02/roboto-v20-latin-500.eot');
	src: url('../../2020/02/roboto-v20-latin-500d41d.eot?#iefix') format('embedded-opentype'),
		url('../../2020/02/roboto-v20-latin-500.woff2') format('woff2'),
		url('../../2020/02/roboto-v20-latin-500.woff') format('woff'),
		url('../../2020/02/roboto-v20-latin-500.ttf') format('truetype');
}
/* End Custom Fonts CSS */